body{
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    padding-top: 5rem;

    background-image: url("/images/bg-pattern-top-desktop.svg");
    
}

h1{
    font-size: var(--fs-900);
    color: var(--clr-primary-700);
    line-height: 1;
// 
// ******** CH ????? *****************************
// 
    max-width: 12ch;


  
           margin-bottom: 1rem;
    font-weight: 800;

    @media (max-width:50em){
        margin-left: auto;
        margin-right: auto;
    }
}

.lead{
    font-size: var(--fs-500);
}

// layout 

main{
    display: grid;
    gap: 3rem 1rem;
}

@media (min-width:50em){
    main{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem;
    }

    .intro{
        grid-column: 1 /2 ;
    }
    .reviews{
        grid-column: 2 / 3;
        align-self: center;
    }
    .quotes{
        //-1 works only for explicit columns that 
        //u've created
        grid-column: 1 / -1;
    }
}

