.quotes{
    --spacer: 2rem;

  
li{
    &:nth-child(2){
        transform:translateY(3rem);
    }

    &:nth-child(3){
        transform:translateY(6rem);
    }
}

    // blockquote zmienil na li 
    // WSZystko nagle zmienilo sie na ta 
    // sama wysokosc
    // the reason that worked is beacuse
    // I'm using display flex on this by default
    // display flex everything streches to the same
    // height
    // So  all this li were the same height here
    // so they were all stretching  but inside each li we had 
    // our blockqoute was shrinking them 
    // if it didn't need to grow it wasn't growing
    blockquote{
        background: var(--clr-primary-700);
        color: var(--clr-neutral-200);
        text-align: left;
        border-radius: var(--br);
        padding: 2rem;

        max-width: 25rem;
        margin: 0 auto;
        // 100% height of parents
        // otherwhise I would had to use li instead of 
        //blockquote
        height: 100%;

        
    }

    // li{
    //     outline: 5px solid green;
    // }

    img{
        width: 3rem;
        border-radius: 50%;
        margin-right: var(--spacer);
    }

    .status{
        color: var(--clr-primary-300);
    }

    .name{
        font-weight: 800;
    }

    .qutoe{
            margin-top: var(--spacer);

           
    }
}