@use "../utilities/" as *;

.contact {
  margin-top: 5.5rem;
  padding-top: 3.33rem;
  padding-bottom: 2rem;
  background-color: $SoftBlue;
 


  & .flex{
    flex-direction: column;

    align-items: center;
  }

  &__header {
    color: white;
    text-align: center;
    font-weight: 500;

    &::before {
      content: "35.000+ ALREADY JOINED";
      display: block;
      font-size: 55%;
      font-weight: 400;
      letter-spacing: 3px;
      margin-bottom: 15px;
    }
  }

  .requirements {
    padding: 0 30px 0 50px;
    color: #999;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: red;
    font-style: italic;
  }

  form{
    outline: 1px solid red;

    //  	Selects all <p> elements where the parent is a <div> elemen
    // all input emial for which form is parent
   & > input[type="email"]{
    background-color: white;
      font-size: 65%;
      display: flex;
      align-items: center;
      padding-left: 1rem;

      margin: 1.72rem 0 0.72rem 0;
      height: 2.27rem;
      width: 14.22rem;
      border-radius: 0.5rem;

        // not? placeholder-shown?
        /*
        :placeholder-shown pseudo-class selects the input element itself 
        
        */

      &:invalid:not(:focus):not(:placeholder-shown){
        background: pink;

      }

      &:invalid:focus:not(:placeholder-shown) {
        & ~ .requirements {
          max-height: 200px;
          padding: 0 30px 20px 50px;
        }
      }

  
    &:focus{
      & + span{
        opacity: 0;
      }
    }

    }



  }



  // Anywhere you have float:left; in your CSS, add width: 100%; after it. Floating will kill your desired center alignment.

  // Also, add text-align: center; to #login

  // As you guessed, you are right, text-align: center; is used to align the text/element horizontally only and not vertically... so if you are talking about aligning the single line text vertically than you need to use line-height, which will be equal to the container height

  &__button {
    display: flex;
    justify-content: center;
    align-items: center; //PEPOWTFLOLOMG

    background-color: $SoftRed;
    height: 2.27rem;
    width: 14.22rem;
    color: white;
    border-radius: 0.5rem;
    font-size: 75%;

    // margin-bottom: 2.83rem;
  }
}
