@use "../utilities" as *;

.footer {
  background-color: $VeryDarkBlue;
  display: grid;
  justify-content: center;
  // align-content: center;
  text-align: center;

  &__header {
    color: white;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
  }

  //img just-self end nie dziala - to ma jakis zwiazek z width i height
  // 2. Your images need to be display:inline-block; else they will not interact as "text" (in justify text last line is not affected you need to add one to make it works.)
  &__logo {
    margin: 2.11rem 0;
    // width: 100%;
    // height: 100%;
    // background-color: red;
  }

  &__menu {
    color: white;
    list-style: none;

    &--element {
      font-size: 75%;
      letter-spacing: 1px;
      color: white;

      &:not(:last-of-type) {
        margin-bottom: 1.72rem;
      }

      &:last-of-type {
        margin-bottom: 2.33rem;
      }
    }
    &--img {
      padding: 0 0.91rem;
      margin-bottom: 2rem;
    }
  }
}
