@use '../utilities'as *;



.nav--visible {
  

   display: none;
  //visibility: hidden;

}

.navbar {

  padding: 1rem 0;

  
  
  & .flex {
    align-items: center;
    justify-content: space-between;
  }



}




.nav__logo{
  height: auto;
  width: 49%;
}

#navbar__button{

  width: 6.5%;
}

#nav__menu--button{

  width: 5%;
}

.nav__menu {

  animation-name: showyourself;
  animation-duration: 0.5s;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;


  
  padding: 1rem 1.6875rem;
    //to bardziej jak static dziala
  // width: 100vh;
  // height: 100vh;
  opacity :0.9;


  //to juz sie skaluje
  width: 100%;
  // height: 100%;
    min-height: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: $navBackground;
  


 

}

.nav__list {

 

  color: white;
  text-align: center;
  list-style-type: none;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 400;


  
  font-size: 1.5rem;
  letter-spacing: 1px;

  &--element {
    text-align: center;

   
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);

    padding: 0.5rem 0;

 


    &:nth-of-type(1) {
      border-top: 1px solid rgb(255, 255, 255, 0.2);

    }

    &:hover {
            outline: 3px solid rgb(255,255,255);
            border-radius: 5px;
         
          }

         
  }


  &--item{

    
    color: white;
    text-decoration: none;
    font-size: 70%;
    font-weight: 400;
    

    
    
  }


  &--footer{    
display: flex;
height: 45vh;
min-height: 100%;
justify-content: center;
align-items: flex-end;
 



& > *  {
  width: 10%;
    margin: 0 1rem;
 


}


  }

}









// .nav__logo {
//   //img + title together
//   width: 6.72rem;
//   height: 1.16rem;
// }

// .nav__menu {
//   width: 0.9375rem;
//   height: 0.8125rem;
// }


// bigger than 325 pix

// #nav {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0 1.6875rem;
//   margin-top: 2.125rem;

//   .nav__logo {
//     //img + title together
//     width: 8.125rem;
//     height: 1.43rem;
//   }

//   .nav__menu {
//     width: 1.0625rem;
//     height: 0.8125rem;
//   }
// }