@use '../utilities';

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.44rem;
  margin-top: 1.7rem;

  .nav__logo {
    //img + title together
    width: 6.72rem;
    height: 1.16rem;
  }

  .nav__menu {
    width: 0.9375rem;
    height: 0.8125rem;
  }
}

// bigger than 325 pix

// #nav {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0 1.6875rem;
//   margin-top: 2.125rem;

//   .nav__logo {
//     //img + title together
//     width: 8.125rem;
//     height: 1.43rem;
//   }

//   .nav__menu {
//     width: 1.0625rem;
//     height: 0.8125rem;
//   }
// }
