@use "../utilities/" as *;

.btn {
  //123x39
  height: 2.16rem;
  width: 6.83rem;
  border-radius: 0.4rem;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 80%;

  &--blue {
    background-color: $SoftBlue;
    color: white;
    box-shadow: 0 10px 10px -5px $GrayshBlue;
  }

  &--gray {
    background-color: $GrayshBlue;

    color: black;
    box-shadow: 0 10px 10px -5px $GrayshBlue;
  }
}
