$font-family: "Courier New", Courier, monospace;
//18px
$font-size: 1.125rem;
// $font-weight: 400;
$fontPrimary: "Rubik", sans-serif;

.text {
  font-family: $fontPrimary;

  &--light {
    font-weight: 400;
  }

  &--med {
    font-weight: 500;
  }
}
//1rem - 16px


p{
  font-size: 0.6rem;
}

body {
  font-family: $fontPrimary;
}
